<link href="https://fonts.googleapis.com/css?family=Eczar|Marck+Script|Special+Elite|Staatliches|Voltaire" rel="stylesheet">

<style>
h1  {font-family: Special Elite;}
p {font-family: Ezcar;}
h3 {font-family: Marck Script;}
h4 {font-family: Staatliches;}
h5 {font-family: Voltaire;}
  







</style>
